.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  z-index: 1000;
}

.modal-content {
  background: #FFFFFF;
  border-radius: 6px;
  width: 764px;
  padding: 10px 20px 30px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.modal-content h3 {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 700;
  color: #333333;
}

.modal-content-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}

.price-toggle {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
  margin-top: 7px;
}

.toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 187px;
  height: 66px;
  border-radius: 10px;
  border: none;
  background: #EAEAEA;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  color: #767676;
}

.toggle-btn img{
  height: 23px;
  width: 23px;
  margin-left: 13px;
}

.toggle-btn.active {
  background: #26B7CD;
  color: white;
}

label {
  display: block;
  margin-bottom: 6px;
  font-size: 16px;
  color: #555;
}

input,
select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 12px;
  font-size: 14px;
}

.discount-input {
  display: flex;
  gap: 8px;
}

.discount-input select {
  width: 60px;
}

.duration-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 16px;
}

.cancel-btn {
  background: none;
  border: none;
  color: #26b7cd;
  cursor: pointer;
  font-size: 14px;
}

.add-btn {
  background: #26b7cd;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.add-btn:hover {
  background: #1d9eb5;
}